{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "singleQuote": false,
    "printWidth": 200,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore",
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "quoteProps": "as-needed",
    "proseWrap": "always",
    "jsxSingleQuote": false,
    "embeddedLanguageFormatting": "auto"
}
