:root {
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
    --ease-soft-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-exquisite: cubic-bezier(0.2, 0.8, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

.os-scrollbar {
    --os-handle-bg: rgba(0, 0, 0, 0.2);
    --os-handle-bg-hover: rgba(0, 0, 0, 0.3);
    --os-handle-bg-active: rgba(0, 0, 0, 0.3);
}
